ios/SwiftKotlination/SwiftKotlination.xcodeproj/xcuserdata
ios/SwiftKotlination/SwiftKotlination.xcodeproj/project.xcworkspace/xcuserdata

android/SwiftKotlination/.idea

fastlane/test_output
fastlane/report.xml
fastlane/screenshots

.bundle
vendor
.gradle
