<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.jhandguy.swiftkotlination">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="fr.jhandguy.swiftkotlination">
    </instrumentation>

    <application android:debuggable="true" >
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>
